
/* Basic background image styling. */

body{
  background-color: #fff;

 
}
header {
  background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup5.JPG?raw=true');
  background-size: 100% 300%;
  height: 270;
  padding-top: 10%;
    margin-top: -2%;
  border: 2px solid Black;
 
}

.maintitle h2{
 
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #fff;
  font-size: 550%;
  font-weight: 500;
   margin-top: 4%;
   text-shadow:0 0 3px #000000;
 
    }

.maintop{
  text-align: center;
  margin: 2%;
}


.back1 {
   color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;
  text-decoration: none;
  text-transform: uppercase;

border: none;
 margin-left: 2%;
  margin-top: 2%;
}

.container1 {
 border-top: 2px solid Black;
  width: 100%;
}
.intro{
  text-align: justify;
 
  margin-left:5%;
  margin-right:5%;
  margin-top: 2%;
   margin-bottom: 3%;
  
  color: #000000;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
   font-size: 20px;
 
   Line-Height: 2;
}

.row2{
text-align: center;

}

#img1{
border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 
margin-top: 3%;
     height: 130px;
  width: 130px;

}
#img2{
  border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 
margin-top: 3%;
     height: 130px;
  width: 130px;

}

#img4{
  
  border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 
margin-top: 3%;
    height: 130px;
  width: 130px;
}

.text{
  border-top: 2px solid Black;
   width: 102.5%;
  margin-top:3%;
  margin-left: -1.5%;
  margin-bottom: 3%;
  
}



#text1 {
  display: none;
  text-align: justify;
 
  margin-left:5%;
  margin-right:5%;
  margin-top: 2%;
   margin-bottom: 3%;
  
  color: #000000;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
   font-size: 20px;

   Line-Height: 2;
}


#text2 {
  display: none;
  text-align: justify;
 
  margin-left:5%;
  margin-right:5%;
  margin-top: 2%;
   margin-bottom: 3%;
  
  color: #000000;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
   font-size: 20px;
 
   Line-Height: 2;
}

#text4 {
  display: none;
  text-align: justify;
 
  margin-left:5%;
  margin-right:5%;
  margin-top: 2%;
   margin-bottom: 3%;
  
  color: #000000;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
   font-size: 20px;

   Line-Height: 2;
}

.text1 h3{
Line-Height: 3;
  
}
.text2 h3{
Line-Height: 3;

  
}

.text4 h3{

Line-Height: 3;  
}
img {
    cursor: pointer;
}


footer img {

  width: 32px;
  height: 32px;
  margin-left: 90% ;
  margin-top: -3%;
  margin-bottom: 5%;
}



footer {
  position: relative;
 
  color: #A6A191;
  margin: 10%;
  

}


