
body{
  background-color: #fff;

  
}
header {
  background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup5.JPG?raw=true');
  background-size: 100% 300%;
  height: 270px;
  padding-top: 15%;
    margin-top: -2%;
  margin-left: -2%;
  margin-right: -2%;
  width: 102%;
  border: 2px solid black;
 
}

.maintitle h2{
 
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #fff;
  font-size: 550%;
  font-weight: 500;
  margin-top: -2%;
 
    }
.maintitle h3{
  
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #fff;
  font-size: 250%;
  font-weight: 500;
 
    }
.menu {
  background: #C3C1B9;
  left: -300px;
  	top:70px;/* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
  z-index: 10;
  color: #ffff;
}






.menu ul {
 
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
   font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: Black;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 150px;
  padding-top: 0;

}

.icon-menu:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.back1:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}


.maintop{
  text-align: center;
  margin: 3%;
}
.icon-menu {
  color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;

  text-decoration: none;
  text-transform: uppercase;
    background:  #FFF;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  
  padding: 10px 20px 10px 20px;
border: none;
   left: 1%;
  top: -10%;
}

.back1 {
   color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;
  text-decoration: none;
  text-transform: uppercase;
    background:  #FFF;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  
  padding: 10px 20px 10px 20px;
border: none;
 margin-left: 1%;
}


.back1 a {
  text-decoration: none;
 color:  #A6A191;
}


.icon-menu i {
  margin-right: 5px;
  
}



.btna:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.calendar:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}

.jumbotron1 {
	position:relative;
  margin: 5%;
  text-align: center;
	z-index: 4;
  margin-bottom: 10%;
}


.calendar {
  color: #fff;
  cursor: pointer;

  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
position: relative;
  text-decoration: none;
  text-transform: uppercase;
background: #DC143C;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
   font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 9px;
  padding: 10px 20px 10px 20px;
border: none;
 
  
}










footer {
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  color: #A6A191;
  margin-top: 10%;
 

}


footer img {

  width: 32px;
  height: 32px;
  margin-left: 90% ;
  margin-top: -3%;
  margin-bottom: 5%;
}



/* Outer */
.popup {
    width:100%;
    height:800px;
    display: none;
    position:absolute;
    top:10px;
    left:0px;
    background:rgba(0,0,0,0.75);
  z-index: 10;
  font-family: Arial, Helvetica, sans-serif;
  color:#000000;
  text-align: center;
}
 
/* Inner */
.popup-inner {
    max-width:500px;
    width:100%;
    padding:50px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}


fieldset {
  margin-bottom: 10px;
  padding: 10px;
  color:#000000;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
label {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  color:#000000;
}
 
 
input:focus {
  background: #eaeaea;
  color:#000000;
}
 
input, textarea {
  width: 252px;
  color:black;
}
 
textarea {
  height: 50px;
  color:#000000;
}
 
select {
  width: 252px;
  color:#000000;
}

#envoy {
    background-color: #DC143C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
	margin-top:60px;
	border-radius: 8px;
}

input[type=checkbox] {
  width: 10px;
}
 
input[type=submit] {
  width: 100px;
  padding: 10px;
}


.row2 {
    border-top: 2px solid black;
  margin-top: 3%;
}






#image-5{
  border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 

     height: 130px;
  width: 130px;

}
#image-3{
  border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 
  height: 130px;
  width: 130px;

}
#image-2{
  
border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 
      height: 130px;
  width: 130px;

}



.row  p{
  
  text-align: justify;
 

}


#festival{
 display: none;
     text-align: justify;
  margin-left: 5%;
  margin-top: 7%;
   margin-bottom: 7%;
   width: 90%;
    height: 90%;
  color: #000000;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville;

}
#stage {
 display: none;
   text-align: justify;
  margin-left: 5%;
  margin-top: 7%;
   margin-bottom: 7%;
   width: 90%;
    height: 90%;
  color: #000000; 
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville;
}
#retraite {
   display: none;
   text-align: justify;
  margin-left: 5%;
  margin-top: 7%;
    margin-bottom: 7%;
   width: 90%;
    height: 90%;
  color: #000000;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville;
}


img {
    cursor: pointer;
   margin-left: 15%;
}


