
body {
  font-family: 'Palatino', sans-serif;
  font-weight: 400;
  background-image:url('https://github.com/lomichel/lomichel.github.io/blob/master/ciel.png?raw=true');
  background-size:400%;
}

footer .row {
  display: flex;
  align-items: center;

}

.jumbotron {
  display: flex;
  align-items: center;
background-image:url('http://www.leguideduciel.net/lgdc/lgdc068/Aube%20Aigoual%20pano%20150-6700.jpg');
  background-size: cover;
  color: #ffffff;
  height: 400px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  position:relative;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}
.jumbotron .popup-inner h2 {
  margin: 0;
  color: black;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.jumbotron .calendar {
  margin: 0 0 20px;
  color: #fff;
}
.jumbotron .btn {
  margin: 0 0 20px;
  color: #fff;
      background-color: #DC143C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
	margin-top:60px;
	border-radius: 8px;
}
.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: absolute;
  width: 285px;
  top:0px;
  z-index:+1;
}
.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;

}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}
.back {

  Color:#fff;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
   padding-bottom: 25px;
  padding-right: 25px;
  padding-top: 25px;
  text-transform: uppercase;
  top: 0;
  right: 0;
  position:fixed;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}


section{

	height:100%;
	background-attachment: fixed;
}
section .row .col-sm-4 img {
  margin: 0 0 20px;
  width: 50%;
    height: 300px;
  border-radius: 5%; 
}

section .row .col-md-4 img {
  margin: 0 0 20px;
  width: 50%;
    height: 300px;
  border-radius: 5%; 
}
section .row .col-md-4 img {
  margin: 0 0 20px;
  width: 100%;
  height: 400px;
  border-radius: 5%; 
}
section .row .col-sm-4 img {
  margin: 0 0 20px;
  width: 100%;
   height: 300px;
  border-radius: 5%; 
}

.col-sm-6 {
color:#fff;
text-align: center;    
}

.col-sm-4{
color:#fff;
text-align: center;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}


#toggle1{
    position: absolute;
    top: -9999px;
    left: -9999px;
}
#toggle2{
    position: absolute;
    top: -9999px;
    left: -9999px;
}

span{
    display: none;
}

#toggle1:checked + span{
    display: block;
}
#toggle2:checked + span{
    display: block;
}

img {
    cursor: pointer;
  margin: 10px 10px 10px;
}




.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}
footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
/* Outer */
.popup {
    width:100%;
    height:800px;
    display: none;
    position:absolute;
    top:10px;
    left:0px;
    background:rgba(0,0,0,0.75);
  z-index: 5;
  font-family: Arial, Helvetica, sans-serif;
}
 
/* Inner */
.popup-inner {
    max-width:500px;
    width:100%;
    padding:50px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

p {
  margin-top: 0px;
}
 
fieldset {
  margin-bottom: 10px;
  padding: 10px;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
label {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  color:black;
}
 
 
input:focus {
  background: #eaeaea;
  color:black;
}
 
input, textarea {
  width: 252px;
  color:black;
}
 
textarea {
  height: 50px;
}
 
select {
  width: 252px;
}

#envoy {
    background-color: #DC143C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
	margin-top:60px;
	border-radius: 8px;
}

input[type=checkbox] {
  width: 10px;
}
 
input[type=submit] {
  width: 100px;
  padding: 10px;
}


.flip .back {
    background: #2F4F4F;
    color: #fff;
    text-align: center;
      margin: 0 0 20px;
  width: 50%;
    height: 300px;
  border-radius: 5%; 
}
.flip{
	display:flex;
}
