
body{
  background-color: #fff;

 
}
header {
   background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/Coverbande.JPG?raw=true');
    background-size: 100% 170%;
  height: 270;
  padding-top: 10%;
    margin-top: -2%;
  border: 1px solid Black;
  
 
}

.maintitle h2{
 
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #FEFEFB;
  font-size: 550%;
  font-weight: 500;
   margin-top: 4%;
   text-shadow:0 0 3px #000000;
 
    }

.maintop{
  text-align: center;
  margin: 2%;
  
}

#back1{
    background: #FEFEFB;
    color: #A6A191;
   
 
  cursor: pointer;
  font-size: 16px;

position: relative;

 margin-left: 2%;
  margin-top: 2%;
}
.back1 {
   color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;
  text-decoration: none;
  text-transform: uppercase;

border: none;
 margin-left: 2%;
  margin-top: 2%;
}



.container1 {
position:relative;
  text-align: center;
  border-top: 1px solid Black;
    z-index:10;
}
.row2 {
position:relative;
  text-align: center;

 
}

.row1{
  text-align: center;
  margin-top: 2%;
  font-family: "Abadi MT Condensed Light";
  font-size: 18px;
}
.row2{
font-family: "Abadi MT Condensed Light";
  font-size: 18px;

}
.row3{
  text-align: center;
  margin-top: 2%;
 font-family: "Abadi MT Condensed Light";
  
}
.row4{
  text-align: justify;
  margin-top: 10%;
  font-family: "Abadi MT Condensed Light";
}
.row4 p{
  text-align: justify;
  margin-top:2% ;
  font-family: "Abadi MT Condensed Light";
}
.row5{
  text-align: justify;
 font-family: "Abadi MT Condensed Light";
  
}
.row6{
  text-align: justify;
font-family: "Abadi MT Condensed Light";
  
}
.row7{
  text-align: justify;
font-family: "Abadi MT Condensed Light";
  
}
#colgen1{
  margin-top: -10%;
}
#hist{
  border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 

 height: 120px;
  width: 120px;
margin-top: 2%;
   margin-bottom: 10%;
  
}
#sitg{
  border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 
 height: 120px;
  width: 120px;

   margin-bottom: 10%;
}
#jardin{
  
border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 
 height: 120px;
  width: 120px;
margin-top: 2%;
    margin-bottom: 10%;
}
#sol{
  
border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 
 height: 120px;
  width: 120px;
margin-top: 2%;
    margin-bottom: 10%;
}
#ilean{
  
border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 
 height: 120px;
  width: 120px;
margin-top: 2%;
    margin-bottom: 10%;
}
#moulin{
  
border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 
 height: 120px;
  width: 120px;
margin-top: 2%;
    margin-bottom: 10%;
}

#phil{
  
border-radius: 50%;   /* Apparence circulaire de l'image */
border-color: Black;   /* Couleur de la bordure */
border-style: solid;   /* Style de la bordure */
border-width: 1px; 
 height: 120px;
  width: 120px;
margin-top: 2%;
    margin-bottom: 10%;
}



#historique{
display: none;
      text-align: justify;
 
  margin-left:5%;
  margin-right:5%;
  margin-top:7%;
  
  color: #A6A191;
font-family: "Abadi MT Condensed Light";
   font-size: 20px;
 
   Line-Height: 1.5;
}
#historique b{
   Color:#575757;
font-weight: 900;
}
#sitgeo {
   display: none;
      text-align: justify;
 
  margin-left:5%;
  margin-right:5%;

 color: #A6A191;
 font-family: "Abadi MT Condensed Light";
   font-size: 20px;
 
   Line-Height: 1.5;
}
#sitgeo b{
   Color:#575757;
font-weight: 900;
}
#jardins {
  display: none;
      text-align: justify;
 
  margin-top:7%;
  margin-left:5%;
  margin-right:5%;

  
  color: #A6A191;
font-family: "Abadi MT Condensed Light";
   font-size: 20px;
 
   Line-Height: 1.5;
}
#jardins b{
   Color:#575757;
font-weight: 900;
}

#philippe {
    margin-top:7%;
  display: none;
      text-align: justify;
 
  margin-left:5%;
  margin-right:5%;

  
  color: #A6A191;
font-family: "Abadi MT Condensed Light";
   font-size: 20px;
 
   Line-Height: 1.5;
}
#philippe b{
   Color:#575757;
font-weight: 900;
}

#lesol {
  display: none;
    margin-top:7%;
      text-align: justify;
 
  margin-left:5%;
  margin-right:5%;

  
 color: #A6A191;
font-family: "Abadi MT Condensed Light";
   font-size: 20px;
 
   Line-Height: 1.5;
}
#lesol b{
   Color:#575757;
font-weight: 900;
}

#iledesan b{
   Color:#575757;
     margin-top:7%;
font-weight: 900;
}
#iledesan {
  display: none;
      text-align: justify;
 
  margin-left:5%;
  margin-right:5%;

 
 color: #A6A191;
font-family: "Abadi MT Condensed Light";
   font-size: 20px;
 
   Line-Height: 1.5;
}
#roue b{
   Color:#575757;
font-weight: 900;
}
#roue {
    margin-top:7%;
  display: none;
      text-align: justify;
 
  margin-left:5%;
  margin-right:5%;

 color: #A6A191;
font-family: "Abadi MT Condensed Light";
   font-size: 20px;
 
   Line-Height: 1.5;
}


.historique h3{
Line-Height: 3;
   Color:#575757;
font-weight: 900;
}
.iledesan h3{
Line-Height: 3;
   Color:#575757;
font-weight: 900;
}
.sitgeo h3{
Line-Height: 3;
   Color:#575757;
font-weight: 900;
}
.roue h3{
Line-Height: 3;
   Color:#575757;
font-weight: 900;
}
.lesol h3{
Line-Height: 3;
   Color:#575757;
font-weight: 900;
}
.jardins h3{
Line-Height: 3;
   Color:#575757;
font-weight: 900;
}


img {
    cursor: pointer;
   
}
.col-sm-4{
  text-align: center;
  
}
.col-xs-4{
  text-align: center;
}
.col-md-4{
  text-align: center;
}
.col-lg-4{
  text-align: center;
}
.col-md-2{
  text-align: center;
}
.col-lg-2{
  text-align: center;
}


#solgrup{
  margin-top: 15%;
    height: 320px;
  width: 90%;
}
#sourcess{
  margin-top: 15%;
    height: 320px;
  width: 90%;
}
#eau{
  margin-top: 15%;
    height: 320px;
  width: 90%;
    
}
#sitgeos{
  margin-top: 17%;
    margin-bottom:  15%;
  height: 90%;
  width: 90%;
}
#lasource{
  margin-top: 10%;
   margin-bottom: 5%;
  height: 90%;
  width: 90%;
}
#plan{
  margin-top: 155px;
    margin-left :15%;
   margin-bottom :8%;
   height: 350px;
  width: 70%;
}
#lacreation{
  margin-top: 10%;
   margin-bottom: 5%;
  height: 90%;
  width: 90%;
}
#text4{
 margin-top: 4% ;
}
#text3{
 text-align: justify;
}
#camembert{
  text-align: center;
}

#camembert1{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
    height: 320px;
  width: 360px;

}
#camembert2{
  text-align: center;
    height: 250px;
  width: 80%;

}
#camembert3{
  text-align: center;
    height: 250px;
  width: 80%;

}
#lepommier{
 margin-top: 10%;
  margin-bottom: 5%;
  height: 90%;
  width: 90%;
}
#historiique{
  text-align: center;
}
#histos{
  margin-top: 7%;
  margin-bottom:  7%;
  height: 300px;
  width: 100%;
}
#iledesani{
    margin-top: 10%;
    margin-bottom:  15%;
  height: 90%;
  width: 90%;
}
#rous{
  text-align: center;
        margin-top: 10%;
    margin-bottom:  15%;
  height: 80%;
  width: 80%;
}
#philippes{
    margin-top: 10%;
    margin-bottom:  15%;
  height: 90%;
  width: 90%;
}
.nousaider{
   color: #A6A191;
font-family: "Abadi MT Condensed Light";
   font-size: 20px;
   Line-Height: 1.5;
  text-decoration: none;
}
footer {
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  color: #A6A191;
  margin-top: 30%;
 
}


#jardins{
  text-align: justify;
}

footer img {

  width: 32px;
  height: 32px;
  margin-left: 90% ;
  margin-top: 3%;
  margin-bottom: 5%;
}

