

body{
  background-color: #fff;
}

header {
  background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup5.JPG?raw=true');
  background-size: 100% 300%;
  height: 270px;
  width: 100%;
  border: 2px solid black;
 
}

.maintitle h2{
 
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #fff;
  font-size: 550%;
  font-weight: 500;
  margin-top: 150px;
}
.back1:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}

.maintop{
  text-align: center;
  margin: 3%;
}

.back1 {
   color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;
  text-decoration: none;
  text-transform: uppercase;
    background:  #FFF;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  
  padding: 10px 20px 10px 20px;
border: none;
 margin-left: 1%;
}


.back1 a {
  text-decoration: none;
 color:  #A6A191;
}




.link:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}

.mail:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.Adresse:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.telephone:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}




.Adresse {
  color: #fff;
  cursor: pointer;

  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
position: relative;
  text-decoration: none;
  text-transform: uppercase;
background: #008CBA;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 9px;
  padding: 10px 20px 10px 20px;
border: none;
}

.mail {
  color: #fff;
  cursor: pointer;

  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
position: relative;
  text-decoration: none;
  text-transform: uppercase;
background: #008CBA;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 9px;
  padding: 10px 20px 10px 20px;
border: none;
}

.telephone {
  color: #fff;
  cursor: pointer;

  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
position: relative;
  text-decoration: none;
  text-transform: uppercase;
background: #008CBA;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 9px;
  padding: 10px 20px 10px 20px;
border: none;
}

.icon-menu i {
  margin-right: 5px;
  
}

#info{
  text-align: center;
}

.col-md-4 #img1 {
    width: 95%;

}
.col-xs-4 #img1{
    width: 95%;

}
.col-sm-4 #img1{
    width: 95%;

}


.showmail {
 
  
 color: #A6A191;
     font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  margin-bottom: 10%;
  margin-top: 10%;
  font-size: 130%;
}

.showtel {
 
 color: #A6A191;
      font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
margin: 10%;
    font-size: 130%;
}

.showmail a{

 color: #A6A191;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  margin-bottom: 10%;
   margin-top: 10%;
}
.showadresse a{
  
 color: #A6A191;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  margin: 10%;
    font-size: 130%;
}

.showadresse {

 
   color: #A6A191;
   font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    margin: 10%;
}






footer {
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
 
  margin-top: 10%;
 

}


footer img {

  width: 32px;
  height: 32px;
  margin-left: 90% ;
  margin-top: -3%;
  margin-bottom: 5%;
}


