body {
  font-family: 'Palatino', sans-serif;
  font-weight: 300;
  background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/ciel.png?raw=true');
  background-size:400%;
}

footer .row {
  display: flex;
  align-items: center;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup5.JPG?raw=true');
  background-size: cover;
  color: #ffffff;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  position:relative;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.jumbotron h4 {
  margin: 0 0 20px;
  color: #fff;
}
.link {
Color:#fff;
text-decoration: none;
}

.menu {
  background: #202024 url('') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: absolute;
  width: 285px;
  z-index:+1;
}
.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.back1 {


   padding-bottom: 25px;
  padding-right: 25px;
  padding-top: 25px;
  top: 0;
  right: 0;
  position:fixed;
    color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  position: fixed;
  text-decoration: none;
  text-transform: uppercase;
    background: #35383b;
  background-image: -webkit-linear-gradient(top, #35383b, #01070a);
  background-image: -moz-linear-gradient(top, #35383b, #01070a);
  background-image: -ms-linear-gradient(top, #35383b, #01070a);
  background-image: -o-linear-gradient(top, #01070a);
  background-image: linear-gradient(to bottom, #35383b, #01070a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
border: none;
}

.icon-menu:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}

.back1:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
    background: #35383b;
  background-image: -webkit-linear-gradient(top, #35383b, #01070a);
  background-image: -moz-linear-gradient(top, #35383b, #01070a);
  background-image: -ms-linear-gradient(top, #35383b, #01070a);
  background-image: -o-linear-gradient(top, #01070a);
  background-image: linear-gradient(to bottom, #35383b, #01070a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
border: none;
}






.icon-menu i {
  margin-right: 5px;
}



.textd{
  position: relative;
  align-content: center;

}

.col-md-6 {
  margin: 0 0 30px;
}
.col-sm-6 {
color:#fff;
text-align: center;
position:relative;
}
.col-sm-6 .name {
color:#fff;
text-align: center;
position:absolute;
top:-140px;
left:155px;
}



img {
    cursor: pointer;
}




footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

