/* Basic background image styling. */

body{
  background-color: #000000;
  padding: 1%;
}
header {
  background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup5.JPG?raw=true');
  background-size: cover;
  color: #ffffff;
  height: 100px;
  padding-top: 10%;

 
  
}

.menu {
  background: #202024 ;
  left: -300px;
  	top:70px;/* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
  z-index: 10;
}

.histo {
  background: #202024 ;
  height: 100%;
  right: 10px;
  	top: 100%;/* start off behind the scenes */
  position: fixed;
  width: 600px;
z-index: 10;
}
.histo p {
  font-size: 40px;
Color:#fff;
text-align: center;
}

.projet {
  background: #202024;
  height: 150%;
  right: -900px;
  	top:7px;/* start off behind the scenes */
  position: fixed;
  width: 900px;
 z-index: 10;
}
.projet p {
    font-size: 14px;
  margin-top: -1%;
  margin-right: 2%;
    margin-left: 2%;
  margin-bottom: 0%;
Color:#fff;
text-align: center;
}
.projet a {
  position: relative;
  
Color:#fff;

  text-decoration-color: #FF0000;
}

.maintitle {
  margin-top: -100px;
    margin-bottom: -15px;
     font-family: "palatino", "Arial Bold", Gadget, sans-serif;
  text-align: center;
  color: #fff;
  font-size: 40;

    }

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 150px;
  padding-top: 0;

}
.icon-ose {
  cursor: pointer;
  padding-right: 150px;
  padding-top: 0;
  
}
.icon-lose {
  cursor: pointer;
  padding-right: 150px;
  padding-top: 0;
}


.icon-menu:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.button:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.buttonhist:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}



.jumbotron {
	position:relative;
 margin-top: 110 ;
  text-align: center;
	z-index: 3;

}
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

position: relative;
  text-decoration: none;
  text-transform: uppercase;
    background: Black;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
border: none;
}

.button {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
position: relative;
  text-decoration: none;
  text-transform: uppercase;
background: Black;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
border: none;
}
.buttonhist {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
position: relative;
  text-decoration: none;
  text-transform: uppercase;
background: Black;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
border: none;
}

.icon-menu i {
  margin-right: 5px;
  
}


container{

  background-size: cover;
  color: #ffffff;
  height: 200px;
 position: relative;
}

container .col-sm-12{

padding: 10%;
  
  color: #ffffff;
  height: 100%;
 position: relative;
}


.background-image {
 
padding:10%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.toggle-image {
 	position: absolute;
	width: 60%;
 	height: 40%;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.forth-image {
	background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup.JPG?raw=true.png');	
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup3.JPG?raw=true');
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup1.JPG?raw=true');
	z-index: -1;
	opacity: 0;
}
.five-image {
	background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup5.JPG?raw=true');
	z-index:-4;
	opacity:0;
}
.first-image {
	background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup4.JPG?raw=true');
	z-index:-5;
	opacity:0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}
.forth-image.show {
	opacity: 1;
}
.five-image.show {
	opacity: 1;
}
.prezi {
  text-align: center;
position: relative;
	
}

footer {
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  background-color: #000000;

    color: #ffffff;
 

}


footer img {

  width: 32px;
  height: 32px;
  margin-left: 90% ;
}




