

body{
  background-color: #fff;

  
}
header {
  background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup5.JPG?raw=true');
  background-size: 100% 300%;
  height: 60%;
  padding-top: 10%;
    margin-top: -2%;
  margin-left: -2%;
  margin-right: -2%;
  width: 102%;
 
}

.maintitle h2{
 
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #fff;
  font-size: 550%;
  font-weight: 500;
  margin-top: 5%;
 
    }
.maintitle h3{
  
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #fff;
  font-size: 250%;
  font-weight: 500;
 
    }
.menu {
  background: #C3C1B9;
  left: -300px;
  	top:70px;/* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
  z-index: 10;
  color: #ffff;
}






.menu ul {
 
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
   font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: Black;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 150px;
  padding-top: 0;

}

.icon-menu:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.back1:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}


.maintop{
  text-align: center;
}
.icon-menu {
  color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;

  text-decoration: none;
  text-transform: uppercase;
    background:  #FFF;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  
  padding: 10px 20px 10px 20px;
border: none;
   left: 1%;
  top: -10%;
}

.back1 {
   color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;
  text-decoration: none;
  text-transform: uppercase;
    background:  #FFF;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  
  padding: 10px 20px 10px 20px;
border: none;
 margin-left: 1%;
}


.back1 a {
  text-decoration: none;
 color:  #A6A191;
}


.icon-menu i {
  margin-right: 5px;
  
}

.link:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}

.mail:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.Adresse:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.telephone:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}


.jumbotron1 {
	position:relative;
 margin-top:  5%;
  text-align: center;
	z-index: 3;

}

.Adresse {
  color: #fff;
  cursor: pointer;

  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
position: relative;
  text-decoration: none;
  text-transform: uppercase;
background: #008CBA;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 9px;
  padding: 10px 20px 10px 20px;
border: none;
}

.mail {
  color: #fff;
  cursor: pointer;

  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
position: relative;
  text-decoration: none;
  text-transform: uppercase;
background: #008CBA;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 9px;
  padding: 10px 20px 10px 20px;
border: none;
}

.telephone {
  color: #fff;
  cursor: pointer;

  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
position: relative;
  text-decoration: none;
  text-transform: uppercase;
background: #008CBA;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 9px;
  padding: 10px 20px 10px 20px;
border: none;
}



.icon-menu i {
  margin-right: 5px;
  
}





container .row{
 position: relative;
 padding :  10%;
  text-align: center;

   
}

.col-md-4 img{
    width: 100%;

}
.col-xs-4 img{
    width: 100%;

}
.col-sm-4 img{
    width: 100%;

}


.showmail {
  display: none;
  text-decoration: none;
 color: #A6A191;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  margin-bottom: 10%;
  margin-top: 10%;
}

.showtel {
  display: none;
 color: #A6A191;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
margin: 10%;
}

.showmail a{

  text-decoration: none;
 color: #A6A191;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  margin-bottom: 10%;
   margin-top: 10%;
}
.showadresse a{
  
 color: #A6A191;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  margin: 10%;
}

.showadresse {
  display: none;
  text-decoration: none;
   color: #A6A191;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    margin: 10%;
}






footer {
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
 
  margin-top: 10%;
 

}


footer img {

  width: 32px;
  height: 32px;
  margin-left: 90% ;
  margin-top: -3%;
  margin-bottom: 5%;
}


