/* Basic background image styling. */

body{
  background-color: #fff;

  
}
header {
  background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup5.JPG?raw=true');
  
background-size: 100% 250%;
  height: 100px;
  padding-top: 10%;
   padding-bottom: 10%;
    margin-top: -2%;
  margin-left: -2%;
  margin-right: -2%;
	  width: 103%;
  border: 1px solid black;
 
}

.maintitle {
  margin-top: 10%;
  font: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #fff;
  font-size: 350%;
  font-weight: 500;
 
    }
.maintitle h2{
  margin-top: -8%;
  font: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #fff;
  font-size: 200%;
  font-weight: 500;
 
    }
.maintitle h3{
  margin-top: -7%;
  font: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #fff;
  font-size: 50%;
  font-weight: 500;
 
    }
.menu {
  background: #C3C1B9;
  left: -300px;
  	top:70px;/* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
  z-index: 10;
  color: #ffff;
}

.histo {
 background: #C3C1B9;
  height: 100%;
  right: 10px;
  	top: 100%;/* start off behind the scenes */
  position: fixed;
  width: 600px;
z-index: 10;
	margin-top:-2%;
}
.histo p {
  font-size: 40px;
Color:#ffff;
text-align: center;
}

.histo a {
  color: Black;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}


.projet {
  background: #C3C1B9;
  height: 150%;
  right: -900px;
  	top:7px;/* start off behind the scenes */
  position: fixed;
  width: 900px;
 z-index: 10;
	margin-top:-2%;
}
.projet p {
    font-size: 110%;
  margin-top: -1%;
  margin-right: 2%;
    margin-left: 2%;
 text-align: justify;
Color:#ffff;

}
.projet a {
  position: relative;
  
Color:Black;

  text-decoration-color: #FF0000;
}



.menu ul {
 
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
   font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: Black;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 150px;
  padding-top: 0;

}
.icon-ose {
  cursor: pointer;
  padding-right: 150px;
  padding-top: 0;
  
}
.icon-lose {
  cursor: pointer;
  padding-right: 150px;
  padding-top: 0;
}


.icon-menu:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.button:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.buttonhist:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}



.jumbotron {
	position:relative;
 margin-top: 10%;
  text-align: center;
	z-index: 3;
  

}
.icon-menu {
  color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;
  text-decoration: none;
  text-transform: uppercase;
    background:  #FFF;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  
  padding: 10px 20px 10px 20px;
border: none;
}

.button {
  color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
position: relative;
  text-decoration: none;
  text-transform: uppercase;
background:  #FFF;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
 
 
  padding: 10px 20px 10px 20px;
border: none;
}
.buttonhist {
  color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
position: relative;
  text-decoration: none;
  text-transform: uppercase;
background:  #FFF;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
 
  font-size: 15px;
  padding: 10px 20px 10px 20px;
border: none;
}

.icon-menu i {
  margin-right: 5px;
  
}



container .col-sm-12{


  margin-top: 15%;
  color: #ffffff;
  height: 250%;
 position: relative;
  margin-left: -2%;
  margin-right: -2%;
  padding-right: 20%;
	 width: 83%;
}

container .col-md-12{


  margin-top: 15%;
  color: #ffffff;
 
 position: relative;
  margin-left: -2%;
  margin-right: -2%;
  padding-right: 20%;
	 width: 83%;
}

container .col-xs-12{


  margin-top: 15%;
  color: #ffffff;
  
 position: relative;
  margin-left: -2%;
  margin-right: -2%;
  padding-right: 20%;
	 width: 83%;
}

.background-image {
 
background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	
}

.toggle-image {
 	position: absolute;
	width: 100%;
 	height: 50%;
	transition: opacity 1s ease-in-out;
  border: 1px solid Black;
}

/* Styles for the specific images. */
.forth-image {
	background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup.JPG?raw=true.png');	
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup3.JPG?raw=true');
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup1.JPG?raw=true');
	z-index: -1;
	opacity: 0;
}
.five-image {
	background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup5.JPG?raw=true');
	z-index:-4;
	opacity:0;
}
.first-image {
	background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup4.JPG?raw=true');
	z-index:-5;
	opacity:0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}
.forth-image.show {
	opacity: 1;
}
.five-image.show {
	opacity: 1;
}
.prezi {
  text-align: center;
position: relative;
	
}
.poeme {
  text-align: justify;
  margin: 10%;
  margin-top: -60%;
  font-size: 110%;
}
footer {
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  color: #A6A191;
 

}


footer img {

  width: 32px;
  height: 32px;
  margin-left: 90% ;
  margin-top: -3%;
  margin-bottom: 5%;
}

