
body{
  background-color: #fff;

 
}
header {
  background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/butsool.jpg?raw=true');
    background-size: 100% 170%;
  height: 270;
  padding-top: 10%;
    margin-top: -2%;
  border: 1px solid Black;
 
}
#back1{
    background: #FEFEFB;
    color: #A6A191;
   
 
  cursor: pointer;
  font-size: 16px;

position: relative;

 margin-left: 2%;
  margin-top: 2%;
}

.maintitle h2{
 
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #FEFEFB;
  font-size: 550%;
  font-weight: 500;
   margin-top: 4%;
   text-shadow:0 0 3px #000000;
 
    }

.maintop{
  text-align: center;
  margin: 2%;
  
}

.container1{
 
  border-top: 1px solid Black;
}


.back1 {
   color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;
  text-decoration: none;
  text-transform: uppercase;

border: none;
 margin-left: 2%;
  margin-top: 2%;
}




.slider {
  width: 90%;
  height: 450px;
  position: absolute;
  overflow: hidden;
  margin-left: 5%;
  z-index: 10;
   margin-top: 2%;
  
}

.slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 500%; 
  height: 100%;
  top: 0;
}

.slider li {
  padding: 0;
  margin: 0;
  width: 33,3333%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid Black;
 
}

.slider li img {

  width: 60%;
  height: 100%;
  margin-left: 20%;
 
 
}

.slider button {
  position: absolute;
  display: block;
  box-sizing: border-box;
  border: none;
  
  outline: none;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #FEFEFB;
  margin: 0;
  padding: 0;
  text-align:center;
  opacity: 1;
  z-index: 2;
}

.slider button.prev {
  left: 0;
   height: 100%;
}

.slider button.next {
  right: 0;
  height: 100%;
}

.slider button:hover, .slider button:active {
  opacity: 2.0;
}

.slider .content {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: #F1F2E9;
  line-height: 3em;
  padding: 0 1em;
  font-size: 1.5em;
}

.slider .content a {
  color: inherit;
}

footer {
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  color: #A6A191;
   margin-top: 490px;
 
 

}

footer img {

  width: 32px;
  height: 32px;
  margin-left: 90% ;
 
  margin-bottom: 5%;
}
