
body{
  background-color: #fff;

 
}
header {
  background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/Coverbande.JPG?raw=true');
    background-size: 100% 170%;
  height: 270;
  padding-top: 10%;
    margin-top: -2%;
  border: 1px solid Black;
 
}
#back1{
    background: #FEFEFB;
    color: #A6A191;
   
 
  cursor: pointer;
  font-size: 16px;

position: relative;

 margin-left: 2%;
  margin-top: 2%;
}

.maintitle h2{
 
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #FEFEFB;
  font-size: 550%;
  font-weight: 500;
   margin-top: 4%;
   text-shadow:0 0 3px #000000;
 
    }

.maintop{
  text-align: center;
  margin: 2%;
  
}

.container1{
 
  border-top: 1px solid Black;
}


.back1 {
   color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;
  text-decoration: none;
  text-transform: uppercase;

border: none;
 margin-left: 2%;
  margin-top: 2%;
}




.slider {
  width: 90%;
  height: 450px;
  position: absolute;
  overflow: hidden;
  margin-left: 5%;
  z-index: 10;
   margin-top: 2%;
  
}

.slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 400%; 
  height: 100%;
  top: 0;
}

.slider li {
  padding: 0;
  margin: 0;
  width: 33,3333%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid Black;
 
}

.slider li img {

  width: 60%;
  height: 100%;
  margin-left: 20%;
 
 
}

.slider button {
  position: absolute;
  display: block;
  box-sizing: border-box;
  border: none;
  
  outline: none;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #FEFEFB;
  margin: 0;
  padding: 0;
  text-align:center;
  opacity: 1;
  z-index: 2;
}

.slider button.prev {
  left: 0;
   height: 100%;
}

.slider button.next {
  right: 0;
  height: 100%;
}

.slider button:hover, .slider button:active {
  opacity: 2.0;
}

.slider .content {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: #F1F2E9;
  line-height: 3em;
  padding: 0 1em;
  font-size: 1.5em;
}

.slider .content a {
  color: inherit;
}

footer {
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  color: #A6A191;
   margin-top: 550px;
 
 

}

footer img {

  width: 32px;
  height: 32px;
  margin-left: 90% ;
 
  margin-bottom: 5%;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 400px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #FEFEFB; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  text-align: center;
    position: relative;
    background-color: #FEFEFB;
    margin: auto;
    padding: 10;
    border: 1px solid #888;
    width: 80%;
  color: #A6A191;
    font-family: "Abadi MT Condensed Light";
    font-size: 130%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-10px; opacity:0} 
    to {top:10px; opacity:1}
}

@keyframes animatetop {
    from {top:-10px; opacity:0}
    to {top:0px; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
#mybtn{
  margin-top: 500px;
  margin-left: 450px;
   color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: absolute;
  text-decoration: none;
  text-transform: uppercase;

border: none;

}
.submit{
background-color: #fff;
   color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

  text-decoration: none;
  text-transform: uppercase;

border: none;

}
