
/* Basic background image styling. */


body{
  background-color: #fff;

  
}
header {
  background-image: url('https://github.com/lomichel/lomichel.github.io/blob/master/grup5.JPG?raw=true');
  background-size: 100% 300%;
  height: 60%;
  padding-top: 10%;
    margin-top: -2%;
  margin-left: -2%;
  margin-right: -2%;
    width: 102%;
 
}

.maintitle h2{
 
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #fff;
  font-size: 550%;
  font-weight: 500;
  margin-top: 5%;
 
    }
.maintitle h3{
  
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-align: center;
color: #fff;
  font-size: 250%;
  font-weight: 500;
 
    }
.menu {
  background: #C3C1B9;
  left: -300px;
  	top:70px;/* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
  z-index: 10;
  color: #ffff;
}






.menu ul {
 
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
   font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: Black;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 150px;
  padding-top: 0;

}

.icon-menu:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}
.back1:hover {
  background: #484b4d;
  background-image: -webkit-linear-gradient(top, #484b4d, #636566);
  background-image: -moz-linear-gradient(top, #484b4d, #636566);
  background-image: -ms-linear-gradient(top, #484b4d, #636566);
  background-image: -o-linear-gradient(top, #484b4d, #636566);
  background-image: linear-gradient(to bottom, #484b4d, #636566);
  text-decoration: none;
}


.maintop{
  text-align: center;
}
.icon-menu {
  color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;

  text-decoration: none;
  text-transform: uppercase;
    background:  #FFF;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  
  padding: 10px 20px 10px 20px;
border: none;
   left: 1%;
  top: -10%;
}

.back1 {
   color: #A6A191;
  cursor: pointer;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 16px;

position: relative;
  text-decoration: none;
  text-transform: uppercase;
    background:  #FFF;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  
  padding: 10px 20px 10px 20px;
border: none;
  margin-left:1%;
 
}


.back1 a {
  text-decoration: none;
 color: #A6A191;
}


.icon-menu i {
  margin-right: 5px;
  
}


section .row .col-sm-12{
 margin-top: 10%;

 
}
section .row .col-md-12{
 
margin-top: 10%;
}
section .row .col-xs-12{
  
margin-top: 10%;
}




.slider {
  width: 90%;
  height: 80%;
  position: relative;
  overflow: hidden;
  margin-left: 5%;
  z-index: 10;
  
}

.slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 500%; 
  height: 100%;
  top: 0;
}

.slider li {
  padding: 0;
  margin: 0;
  width: 33,3333%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid Black;
}

.slider li img {
  border: 1px solid Black;
  width: 60%;
  height: 100%;
  margin-left: 20%;
 
 
}

.slider button {
  position: absolute;
  display: block;
  box-sizing: border-box;
  border: none;
  
  outline: none;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 0;
  padding: 0;
  text-align:center;
  opacity: 1;
  z-index: 2;
}

.slider button.prev {
  left: 0;
   height: 100%;
}

.slider button.next {
  right: 0;
  height: 100%;
}

.slider button:hover, .slider button:active {
  opacity: 2.0;
}

.slider .content {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 3em;
  padding: 0 1em;
  font-size: 1.5em;
}

.slider .content a {
  color: inherit;
}

footer {
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  color: #A6A191;
  margin-top: 10%;
 

}


footer img {

  width: 32px;
  height: 32px;
  margin-left: 90% ;
  margin-top: -3%;
  margin-bottom: 5%;
}



